    <div class="nav-item dropdown" style="margin-left:1110px; margin-bottom:20px">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sắp xếp theo</a>
      <div class="dropdown-menu">
        <a href="products?order=asc">Giá tăng</a><br>
        <a href="products?order=desc">Giá giảm</a>
      </div>
    </div>
<form class="form-inline my-2 my-lg-0" style="margin-left:950px">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<div class="container">
   <div class="row">
      <% @products.each do |p|%>
      <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12">
         <div class="card-container">
            <div class="flipper">
               <div class="front">
                  <div class="panel panel-primary">
                     <div class="panel-heading"><%= p.name%></div>
                     <div class="panel-body text-center" style="min-height: 430px; background: #fff;">
                        <%= image_tag p.images, class: "img-responsive"%>
                     </div>
                     <div class="panel-body text-center" style="padding:10px">
                        <h4>Giá</h4>
                        <%= number_to_currency(p.price, unit:"đ", format: "%n %u") %>
                     </div>
                  </div>
               </div>
               <div class="back" style="max-height:550px">
                  <div class="panel panel-primary">
                     <div class="panel-heading"><%= p.name%></div>
                  </div>
                  <div class="panel-body text-center" style="padding-top: 100px">
                     <p><%= link_to 'Chi tiết', product_path(p), class: "btn btn-primary btn-lg " %></p>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>
